[Desktop Entry]
Encoding=UTF-8
Name=TRIPcoin
Comment=TRIPcoin P2P Cryptocurrency
Comment[fr]=TRIPcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TRIPcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/TRIPcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/TRIPcoin;
Categories=Office;
